/*fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

$main-font: 'Signika Negative', sans-serif;

$borders: 2px solid black;
$active-color: palegreen;
$link-decoration: none;

