/*fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

$main-font: 'Signika Negative', sans-serif;

/* colores */

$bg_color: antiquewhite;
$footer-color: aquamarine;
$header-color: aquamarine;
$button-color: aqua;
$borders: 2px solid black;
$active-color: palegreen;
$link-decoration: none;
$link-color: black;

