/* reset de mrgin paddin y estilo de fuente para todo el sitio */
*{
    margin: 0;
    padding: 0;
}
/* fin margin paddin */

/* Importando componentes */
@import 'variables';
@import 'component/maps';
@import 'component/extends';
@import 'component/mixins';
@import 'component/header';
@import 'component/index';
@import 'component/footer';
@import 'component/trabajos';
@import 'component/nosotros';
@import 'component/servicios';

html {
    min-height: 100%;
    position: relative;
}
/* agragando estilos de fondos y bordes generales */
body{
    background-color: map-get($palette, bg-color) !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
a{
    text-decoration: $link-decoration !important;
    color: map-get($palette, link-color) !important;
}
ul{
    list-style-type: none;
}
/* fin de estilos generales */  


/* estilo titulo de pagina */
.titulo{
    margin-top: 2%;
    margin-left: 2%;
    font-size: 300%;
    font-family: $main-font;
    margin-bottom: 2%;
}
.h1Seo{
    font-size: 30px;
    width: fit-content;
    margin: auto;
    margin-bottom: 30px;
}
/* fin estilo titulo */
