/* reset de mrgin paddin y estilo de fuente para todo el sitio */
*{
    margin: 0;
    padding: 0;
    font-family: 'Signika Negative', sans-serif;
}
/* fin margin paddin */

/* agragando estilos de fondos y bordes generales */
body{
    background-color: antiquewhite;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style-type: none;
}
.cabecera{
    background-color: aquamarine;
    border: 2px solid black;
}
.foot{
    background-color: aquamarine;
    border: 2px solid black;
    margin-top: 20px;
}
/* fin de estilos generales */

/* aplicando flexbox a la cabecera */
.menu{
    margin-top: 10px;
    margin-bottom: 10px;
    /* height: fit-content; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
/* fin de flexbox cabecera */

/* estilo de botones del menu */
.boton{
    padding: 10px 1px;
    font-size: 20px;
    background-color: aqua;
    border: 2px solid black;
    border-radius: 6px;
    text-align: center;
    margin-top: 2px;
    margin: 2px;
    transition: .5s;
    width: 100px;    
}
/* fin estilos de menu */

/* subrayado y transformacion cuando paso el mouse por un boton del header*/
.boton:hover{
    text-decoration: underline;
    transform: scale(1.2);
}
/* fin subrayalo y transformacion header */

/* cambio de color del boton correspondiente a la ventana activa */
.activo{
    background-color: palegreen;
}
/* fin activo header */

/* estilo titulo de pagina */
h1{
    margin-top: 2%;
    margin-left: 2%;
    font-size: 300%;
}
/* fin estilo titulo */

/* estilos para el logo central del index */
.logo{
    margin: auto;
    display: block;
    height: 50vh;
    width: 50wh;
    border: 2px solid black;
}
.bajoLogo{
    width: fit-content;
    margin: 20px auto;
    font-size: 200%;
}
/* fin estilo logo */

/* carrousel en CSS */
.carrousel ul{
    margin: 10px;
    padding: 0;

}
.carrousel-fotos{
    display: flex;
    overflow: auto;
    gap: 10px;
}
.carrousel-fotos img{
    border: 3px solid black;
    width: 800px;
    height: 650px;
}
.carrousel p{
    width: fit-content;
    margin:auto;
    font-size: larger;
}
/* fin carrousel */

/* aplicando flexbox al footer */
.pie{
    margin-top: 10px;
    margin-bottom: 10px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.enlaces{
    display: flex;
    align-items: center;
    margin-left: 3px;    
}
.enlaces a{
    margin-left: 4px;
}
@media screen and (max-width: 1050px) {
    .enlaces{
        width: 260px;
    }    
}
/* fin de flexbox footer */

/* subrayado de enlaces del footer cuando paso el mouse */
.footer-enlaces:hover{
    text-decoration: underline;
}
/* fin subrayado footer */

/* aplicando grid a las imagenes de pa pagina de trabajos */
.grid-container{
    width: 98%;
    margin: auto;
    display: grid;
    grid-auto-rows: 25rem;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    gap: 5px;
    /* border: 3px solid black; */
}
@media only screen and (max-width: 480px){
    .grid-container{
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    }
} 

.grid-item{ 
    border: 3px solid black;
    display: flex;
}
.grid-item img{
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}
/* fin grid trabajos */

/* margin align nosotros */
.nosotros{
    margin-top: 20px;
    margin-bottom: 20px;
}
.nosotros p{
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    text-align: justify;
}
/* fin margin align nosotros */

/* aplicando grid template areas en las imagenes de la solapa nosotros */
.fotosNosotros{
    width: 80%;
    display: grid;
   /*  grid-auto-rows: repeat(4, 25rem);
    grid-template-columns: repeat(2, 1fr); */
    gap: 10px;
    margin: auto;

    grid-template-areas:
    'fotoEsc fotoEsc'
    'fotoEsc fotoEsc'
    'fotoNacho fotoRey'
    'fotoNacho fotoRey'
    ;
    justify-items: center;
    align-content: center;
}
.escalera{
    grid-area: fotoEsc;
    /* display: flex; */
    border: 3px solid black;
    border-radius: 20px;
    padding: 2px;
    align-content: center;
}
.escalera img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
    /* align-content: center; */
}
.nacho{
    /* display: flex; */
    grid-area: fotoNacho;
    border: 3px solid black;
    border-radius: 20px;
    padding: 2px;
}
.nacho img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
}
.rey{
    /* display: flex; */
    grid-area: fotoRey;
    border: 3px solid black;
    border-radius: 20px;
    padding: 2px;
}
.rey img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
}
/* fin grid nosotros */



/* estilos prod y servicios */
.prodItems p{
    font-size: 30px;
    width: fit-content;
    margin: auto;
    margin-bottom: 30px;
}
.prodItems li{
    margin-left: 12%;
    width: fit-content;
}
.prodItems div{
    font-size: 25px;
    width: fit-content;
    margin: auto;

}
.sectionServicios p{
    font-size: 30px;
    width: fit-content;
    margin: auto;
    margin-bottom: 30px;

}
.sectionServicios ul{
    font-size: 25px;
    width: fit-content;
    margin-left: 12%;
}
/* fin estilos prod y servicios */