
$palette: (
    activa: lighten(#5eca0be1, 5%),
    boton: lighten(#27AE60, 10%),
    bg-color: rgb(214, 222, 234),
    footer-color: lighten(#2fc3c7, 10%),
    header-color: lighten(#2fc3c7, 10%),
    link-color: black
);