/* grid system de bootstrap */
.col img{
    width: 100%;

}

.sectionServicios p{
    font-size: 30px;
    width: fit-content;
    margin: auto;
    margin-bottom: 30px;

}
.sectionServicios ul{
    font-size: 25px;
    width: fit-content;
    margin-left: 12%;
}
/* fin estilos prod y servicios */